body{

font:helvetica,sans-serif,arial,verdana;
margin:0px;

}
#ss ul{



margin:0;
}
#wer{

padding-top:20px;
}
#ss ul li a{

text-decoration:none;
padding: 20px 20px 20px;
color:#ffffff;


}
#content{


height:260px;
width:100%;
background:
}
#ss ul li a:hover{
border:1.5px solid #ffffff;
opacity:100.5;
background:#1EA59F;
padding-bottom:15px;
}
#ss ul li{


background:left center url(images/arr.gif) ;

}
#ss ul li{

list-style-type:none;
float:left;

}
#rrr{


padding-top:20px;
padding-left:40px;

}
#ss{
border:4px;
float:right;
height:55px;
width:550px;
background:#3F3F3E;
margin-top:-60px;
margin-right:20px;
}
#nn{

font-size:20px;
text-align:center;
color:#666666;
padding-top:20px;
}
#left{ 

width:300px;
height:300px;
background:#133903;
float:left;}
#jj{


padding:20px;
padding-bottom:20px;
border:10px solid#ffffff;
box-shadow:4px 4px;   }
#left1{ 

width:300px;
height:300px;
background:#F78724;
float:left;}
#footer{

height:70px;
width:100%;
background:#040C73;
}
#left2{ 

width:390px;
height:300px;
background:#044C57;
float:left;}
#content3{

height:300px;
width:100%;
background:#000000;

}
#rr{



color:#ff0000;
font-size:18px;
font-style:bold;
padding-top:15px;
padding-left:40

}
#fff{


width:970px;
padding:10px;
margin-right:-25px;}
#wrapper{

height:auto;
width:990px;
background:#000000;
margin:0 auto;

}
#header{

height:90px;
width:100%;
background:#000000;

}